@model IEnumerable<RPG_Guia.Models.Raça>

@{
    ViewBag.Title = "Index";
}



<div style="float:right; margin-right:20px;color:#f6c23e">
    <i class="far fa-plus-square"></i>
    @Html.ActionLink("Criar Nova", "Create")
</div>

<div style="padding: 1px 20px 1px 20px">
    <h2>Raças</h2>
    @foreach (var item in Model)
    {
        <!-- Collapsable Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3 border-left-warning " data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h5 class="m-0 font-weight-bold text-warning ">@item.Nome</h5>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold" style="color:rgb(35, 35, 35)">Descrição:</h6>
                    @item.Descriçao
                    <h6 class="m-0 font-weight-bold" style="color:rgb(35, 35, 35)">Traços Raciais:</h6>
                    @item.Traços
                </div>
            </div>
        </div>
    }
</div>
